# Node
backend/node_modules

# Env files
.env
backend/.env

# Foundry / Blockchain
scriptbay_blockchain/cache/
scriptbay_blockchain/out/
scriptbay_blockchain/broadcast/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db